* {
font-family:Consolas, Monospace;
color:white;
}

body {
    background-image: url("Background.png");
}

h1 {
    text-align: center;
position:fixed;
width:100%;
padding:10px;
top:0px;
left:0px;
margin:0px auto;
border-bottom:4px dotted red;
background: green;
}

#top {
margin-top:70px;
font-size: 19px;
}

.info {
		display: block;
		width: 150px;
		background: maroon;
		margin: 5px;
    margin-top:5px;
	padding:2px;
	position: relative;
}

div {
		display: block;
		width: 164px;
		background: green;
		margin: 5px;
	padding:2px;
	float:right
        margin-top 70px;
}
