* {
font-family:Consolas, Monospace;
color:white;
		margin 0px auto;
}

body {
    background-image: url("Background.png");
}

h1 {
    text-align: center;
position:fixed;
width:100%;
padding:10px;
top:0px;
left:0px;
margin:0px auto;
border-bottom:4px dotted red;
background: green;
}

#top {
margin-top:70px;
font-size: 19px;
}

.info {
		display: block;
		width: 150px;
		background: green;
		margin: 5px;
	padding:2px;
	position: relative;
}

div {
		display: block;
		width: 164px;
		background: maroon;
		margin: 5px;
	padding:2px;
	float:right
}

li {
	font-size: 16pt;
}

p {
	font-size: 16pt;
}

.pages {
	text-decoration: none;
-moz-border-radius:10px;
-webkit-border-radius:10px;
padding: 1px;
}

.pages:hover {
	background: red;
}

#linkbar {
	margin-left: 50px;
	border: 1px solid blue;
	background: green;
	padding: 3px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
float: left;
}