* {
    font-family: Consolas, Monospace;
		color:white;
		background:red;
}

h1 {
		text-align: center;
		width: 100%;
		padding: 10px;
		top: 0px;
		left: 0px;
		margin 0px auto;
		border-bottom: 4px dotted green;
}

a {
		text-decoration: none;
	color: green;
}

a:hover {
		text-decoration: underline;
}

.info {
		display: block;
		width: 150px;
		background: red;
		margin: 5px;
	padding:2px;
	position: relative;
}

div {
		display: block;
		width: 164px;
		background: grey;
		margin: 5px;
	padding:2px;
	float:right;
	position:absolute;
}
