* {
background-color:darkred;
color:#5555FF;
font-family:sans-serif
}

.title {
text-align:center;
position:fixed;
top:0px;
left:0px;
padding:20px;
margin:0px auto;
width:100%;
}

h3.title {
top:60px;
padding-top:10px;
margin-bottom:2px;
border-bottom:8px groove orange;
}

img {
margin-left:auto;
margin-right:auto;
display:block;
}

#top {
padding-top:120px;
}

.summary {
border:3px dashed darkgrey;
-moz-border-radius:20px;
-webkit-border-radius:20px;
padding:10px;
}