* {
    font-family: Consolas, Monospace;
    color:white;
}

body {
    background-image: url("Background.png");
}
 
h1 {
    text-align: center;
position:fixed;
width:100%;
padding:10px;
top:0px;
left:0px;
margin:0px auto;
border-bottom:4px dotted red;
background: green;
}
 
a {
    text-decoration:none;
}
 
a:hover {
    text-decoration:underline;
}
 
h2 {
    text-align: center;
    margin-top: 50px;
}
 
#ModLogo {  
    width: 50%;
    margin: 0 25%;
}
 
.UndergroundStuff {
    border:5px dashed red;
-moz-border-radius:20px;
-webkit-border-radius:20px;
padding: 10px;
background: green;
}

.algebra {
color:yellow;
}

#top {
margin-top:70px;
font-size: 19px;
text-align:center;
}

.maths {
    border: 3px solid purple;
-moz-border-radius:20px;
-webkit-border-radius:20px;
padding:10px;
background: green;
}

.middlepage {
    text-align:center;
}

.DoctorWho {
    padding:10px;
    border:6px solid #003B6F;
-moz-border-radius:20px;
-webkit-border-radius:20px;
background: green;
}

#MinieK {
color:red;
}

a {
background: green;
}

.green {
background: green;
}