* {
    font-family: Consolas, Monospace;
    background: green;
    color:white;
}
 
h1 {
    text-align: center;
position:fixed;
width:100%;
padding:10px;
}
 
a {
    text-decoration:none;
}
 
a:hover {
    text-decoration:underline;
}
 
h2 {
    text-align: center;
    margin-top: 50px;
}
 
#ModLogo {  
    width: 50%;
    margin: 0 25%;
}
 
.UndergroundStuff {
    border:5px dashed red;
-moz-border-radius:20px;
-webkit-border-radius:20px;
padding: 10px;
}

.algebra {
color:yellow;
}

#top {
margin-top:60px;
}
